.speech
{font-family: "Lucida Console", "Courier New", monospace;
font-size: 20px;
color: black;
}
.stage-direction
{font-family: Cursive;
font-size: 25px;
background-color:lightsteelblue;
}
.stage-direction:hover
{color: black;
background-color: lightpink;
}
.president
{font-family: "Times New Roman", Times, serif;
font-size: 20px;
color:deeppink;
}
.firstconsp
{font-family: "Times New Roman", Times, serif;
font-size:20px;
color: firebrick;
}
.secondconsp
{ font-family: "Times New Roman", Times, serif;
font-size: 20px;
color: darkviolet;
}
.thirdconsp{
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    color: darkmagenta; 
}
.fourthconsp{
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    color: gold;
}
.fifthconsp{
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    color: greenyellow;
}
.sixthconsp{
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    color: chocolate;
}

.conspirators{
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    color: darkcyan; 
    
}
.conspirators:hover{
    text-shadow: 8px 8px orangered;
    border: 4px solid black;
    display: inline;
   
}
.michael:hover{
    text-shadow: 2px 2px red;
}
.michael{
    
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    color: darkorange;
}
.alexis:hover{
    text-shadow: 2px 2px blue;
}
.alexis{
   
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    color: darkorchid;
}
table {
    background-color: bisque;
    font-family: arial, sans-serif;
    border: 1px solid black;
    width:auto;
    border-spacing:2px;
    margin-left: 400px;
    margin-top: 20px;
  }
  
  td, th {
      column-span: 2px;
    border: 1px solid black;
    text-align: left;
    padding: 15px;
    
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
